.seat-button {
  grid-area: layer;
  height: 30px;
  border-radius: 30px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.seat-button:hover {
  cursor: pointer;
}
