.seat {
    border-radius: 50%;
    grid-area: layer;
    display: grid;
    grid-template-areas: "layer";
    place-items: center;
    width: 600px;
    height: 600px;
    padding-top: 10px;
}
svg{
    position: relative;

    z-index: -1;
}
.name {
    color: #D3D5D4;
    z-index: 200;
    min-width: 40px;
    min-height: 20px;
}