
.seatname-button {
    grid-area: layer;
    display: flex;
    grid-template-areas: "layer";
    height: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index:10;
    flex-direction: row;
    gap: 3px;
    border-radius: 5px;

}

.name {
    color: #D3D5D4;
    height: 18px;
}