
.seatname-button {
    grid-area: layer;
    display: flex;
    grid-template-areas: "layer";
    height: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index:0;
    flex-direction: row;
    gap: 3px;
    border-radius: 5px;
    cursor: grab;
}

.name {
    color: #D3D5D4;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #D3D5D4;
}