.begin {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.circle {
  display: grid;
  grid-template-areas: "layer";
  border-radius: 50%;
  margin: 50px;
}

.annotations-toggle {
  position: absolute;
  bottom: 20px;
  left: 30px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: #d3d5d4;
  align-items: center;
}

.session-right {
  margin: 50px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 1px solid #D3D5D4;
  border-radius: 5px;
  padding: 15px;
  width: 280px;
  z-index: 1;
}

.notes {
  height: 450px;
  background-color: inherit;
  border-radius: 5px;
  padding: 10px;
  font-family: inherit;
  color: #FFFFFF;
  font-size: 15px;
}

.notes:focus {
  outline: 1px #D3D5D4 solid !important;
}

.button-panel {
  display: flex;
  flex: row;
  justify-content: space-between;
}

.begin-button {
  position: absolute;
  right: 10%;
  bottom: 10%;
}